
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>
        <strong>Temat:</strong>Wykorzystanie SignalR do tworzenia wielowarstwowych aplikacji webowych w środowisku .net
        
    </h2>
    <h3>
        <strong>Zakres i cel:</strong>Zaprojektowanie wielowarstwowej aplikacji webowej która wykorzystuje SingnalR
    </h3>
    <p>Promotor: dr. Krzysztof Mazela</p>
    <p>Autor: Damian Kowalewski</p>
</div>

